body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
    background-color: #000000; /* Adjust the background color as needed */
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    gap: 5vw;
    padding: 20px;
}

.grid-item {
    background-color: #000000;
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    overflow: hidden;
}

.image {
    max-width: 100%;
    height: auto;
    display: block;
}

.description {
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ascii-projects-container {
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 30px; /* Add the unit (e.g., pixels) */
    overflow: auto;
    margin: 10px;
    white-space: pre;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    #ascii-projects-container {
        font-size: 8px;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(5vw, 1fr));
    }

    /* .description {
        font-size: 4px;
    } */
}
